@{
    ViewData["Title"] = "Cookbook";
}

<div class="text-center">
    <h1 class="display-4">Delicious Recipes</h1>
    <p>I am a food guro. I love to cook and eat the most delicious food. Here I will store recipes that I have tested and tried as 
        well as ones that are on my bucket-list to try.</p>
</div>

<div>
    <img src="pancakes.jpg" alt="pancake_Image" height="400">
    
    <img src="grilledcheese.jpg" alt="pancake_Image" height="400">
    
</div>

<div>
    <p>Here I will put a list of links to my recipes</p>
    <ul>
        <li>Recipe</li>
        <li>Recipe</li>
    </ul>
</div>